
<style>
  .article-banner{
    position: relative;
    z-index: 1;
    height: 400px;
    margin-bottom: 60px;
    background-size: cover !important;
    background-position-y: center !important;
    
  }
  .article-banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: #121212;
    opacity: 0.5;
  }
  .article-banner > .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
  }
  .article-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .related-blog-img{
    height: 106px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
  }
  .related-blog-img > img{
    max-height: 106px;
  }
  .related-list{
    display: flex;
    flex-wrap: wrap;
  }
  .related-item{
    width: 250px !important;
    margin: 10px
  }
  .related-heading{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
</style>
<div class="article-banner" style="background: url({{ article.image.src | img_url: '200px' }}) ">
  <div class="container">
    <h2 class="article-title">{{article.title}}</h2>
  </div>
</div>

{% include 'breadcrumb' %}

<div class="container">
  <p>{{article.excerpt}}</p>
  {{article.content}}
  <p>{{article.author}}</p>
  <p>Tagged as 
    {% for tag in article.tags %}
        {{ tag }},
    {% endfor %}
  </p>
  <h1 class="related-heading">Related blogs</h1>
  <ul class="related-list" id="related_blog">
  </ul>
  
{% capture all_the_tags %}{% for tag in article.tags %}{{ tag }} {% endfor %}{% endcapture %}
{% assign current = article.id %}
{% assign count = 0 %}
<script>
	var articles = new Array();
  var count = 0;
	{% for article in blog.articles %}
		{% unless article.id == current or count > 4%}
			{% for tag in article.tags %}
				{% if all_the_tags contains tag %}
          articles[{{ count }}] = {
            title: '{{ article.title | strip_html | truncate: 100}}',
            url: '{{article.url}}',
            content: '{{artical.content}}',
            img_src: "{{ article | img_url: '200x' }}"
          }
					{% assign count = count | plus:1 %}
          count = '{{count}}'
				{% endif %}
			{% endfor %}
		{% endunless %}
	{% endfor %}
  for(var i=0;i<articles.length;i++) {
      var item_html = `<li class="related-item">
        <a href="`+articles[i].url+`"><p class="related-blog-img"><img src="`+articles[i].img_src+`"></p></a>
        <a href="`+articles[i].url+`"><p class="blog-tlt">`+articles[i].title+`</p></a>
      </li>`
      $('#related_blog').append(item_html);
	}
</script>

</div>