
{{ 'blog-styles.css' | asset_url | stylesheet_tag }}
<div class="article-banner" style="background: url({{ article.image.src | img_url: 'master' }}) ">
  <div class="container">
    <h2 class="article-title">{{article.title}}</h2>
  </div>
</div>

{% include 'breadcrumb' %}

<div class="container">
  <div class="article-content">
    <p>{{article.excerpt}}</p>
    {{article.content}}
    <p>{{article.author}}</p>
    <p>Tagged as 
      {% for tag in article.tags %}
          {{ tag }},
      {% endfor %}
    </p>
    <h1 class="related-heading">Related blogs</h1>
    <ul class="related-list" id="related_blog">
    </ul>
  </div>
  
  
  
{% capture all_the_tags %}{% for tag in article.tags %}{{ tag }} {% endfor %}{% endcapture %}
{% assign current = article.id %}
{% assign count = 0 %}
<script>
	var articles = new Array();
  var count = 0;
	{% for article in blog.articles %}
		{% unless article.id == current or count > 4%}
			{% for tag in article.tags %}
				{% if all_the_tags contains tag %}
          articles[{{ count }}] = {
            title: '{{ article.title | strip_html | truncate: 100}}',
            url: '{{article.url}}',
            content: '{{artical.content}}',
            img_src: "{{ article | img_url: '200x' }}"
          }
					{% assign count = count | plus:1 %}
          count = '{{count}}'
				{% endif %}
			{% endfor %}
		{% endunless %}
	{% endfor %}
  for(var i=0;i<articles.length;i++) {
      var item_html = `<li class="related-item">
        <a href="`+articles[i].url+`"><p class="related-blog-img"><img src="`+articles[i].img_src+`"></p></a>
        <a href="`+articles[i].url+`"><p class="blog-tlt">`+articles[i].title+`</p></a>
      </li>`
      $('#related_blog').append(item_html);
	}
</script>

</div>