{% comment %}
Loop through a defined number of articles with the 'paginate' tag.
Don't forget to close the tag after your loop.
{% endcomment %}

{% paginate blog.articles by 5 %}

{% comment %}
This template is also used for listing out articles of a specific tag.
You can change layouts or styles by checking if current_tags is true.
{% endcomment %}
<div class="mainvisual" style="height: 400px !important;">
  <ul class="product-shop-sp idx-slider">
    <li class=""><a href="{{settings.blog_banner_1_link}}" style="background-image:url('{{ settings.blog_banner_1_mobile | img_url: 'master' }}')"​​​​​​></a></li>
    <li class=""><a href="{{settings.blog_banner_2_link}}" style="background-image:url('{{ settings.blog_banner_2_mobile | img_url: 'master' }}')"></a></li>
    <li class=""><a href="{{settings.blog_banner_3_link}}" style="background-image:url('{{ settings.blog_banner_3_mobile | img_url: 'master' }}')"></a></li>
  </ul>
  <ul class="pc idx-slider">
    <li><a href="{{settings.blog_banner_1_link}}" style="background-image:url('{{ settings.blog_banner_1 | img_url: 'master' }}')"​​​​​​></a></li>
    <li><a href="{{settings.blog_banner_2_link}}" style="background-image:url('{{ settings.blog_banner_2 | img_url: 'master' }}')"></a></li>
    <li><a href="{{settings.blog_banner_3_link}}" style="background-image:url('{{ settings.blog_banner_3 | img_url: 'master' }}')"></a></li>
  </ul>
</div>
{% include 'breadcrumb' %}

<div class="blog container">
  <ul>
    {% for article in blogs.news.articles %}
    <li>
      <a href="{{ article.url }}"><p class="blog-img">{% if article.image %}<img src="{{ article | img_url: 'large' }}"></a>

        {% else %}

        {% assign hero_image = '' %}
        {% assign html_tags = article.excerpt_or_content | split: '<' %}
        {% for html_tag in html_tags %}
        {% assign img_check = html_tag | slice: 0,3 %}
        {% if img_check == 'img' %}
        {% assign img_tag = html_tag | split: '>' %}
        {% assign hero_image = '<' | append: img_tag.first | append: '>' %}
        {% break %}
        {% endif %}
        {% endfor %}

        {% if hero_image.size > 0 %}{{ hero_image }}
        {%else%}
        {{ 'twippy_logo1.png' | asset_url | img_tag: shop.name }}
        {% endif %}          
        {% endif %}</p>
      <p class="blog-cate">NEWS</p>
      <a href="{{ article.url }}"><p class="blog-tlt">{{ article.title | strip_html | truncate: 40}}</p></a>
      <p class="blog-txt">{{ article.content | strip_html | truncate: 180}}</p>
      <a class="blog-more" href="{{ article.url }}">Read more</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endpaginate %}
