{% comment %}
  This is your /cart template. If you are using the Ajaxify Cart plugin,
  your form (with action="/cart") layout will be used in the drawer/modal.

  For info on test orders:
  - General http://docs.shopify.com/manual/your-store/orders/test-orders
  - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments


{% include 'breadcrumb' %}
<header class="page-header">
  <h1 {% if settings.enable_multilang %}data-translate="cart.general.title"{%endif%}>{{ 'cart.general.title' | t }}</h1>
  {% if cart.item_count > 0 %}
    <a href="/collections/all" class="continue" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{%endif%}>
      {{ 'cart.ajax_cart.continue_shopping' | t }}
    </a>
  {% endif %}
</header>
{% endcomment %}
<script>
pintrk('track', 'addtocart', {
value: {{ total_price | money_without_currency }}, 
order_id: {{ checkout.id }}
});
</script>

{% if cart.item_count > 0 %}
  <form class="cart-form" action="/cart" method="post" novalidate>
    <div class="twippy-cart container">
      <p class="item-in-cart">You have {{cart.item_count}} item in your cart</p>
<p class="free-ship-cart pc">Free shipping for any US orders above $75</p>
      <div class="wrapper-cart">
        <div class="cart-title"><h2 {% if settings.enable_multilang %}data-translate="cart.label.product"{%endif%}>{{ 'cart.label.product' | t }}</h2></div>
        <ul class="cart-list">

          {% comment %}
            Loop through products in the cart
          {% endcomment %}
          {% for item in cart.items %}
            <li>
              <a class="cart-img" href="{{ item.url | within: collections.all }}">
                {% comment %}
                  More image size options at:
                  - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
              </a>

              {% comment %}
                Let's use a sub grids to keep our product image and title together,
                and our quantity, price and remove buttons together
              {% endcomment %}

              {% comment %}
                If you want the product title and any variants in one line, use {{ item.title }}.
                Below they've been separated for styling purposes.
              {% endcomment %}
              <div class="cart-details">
                <a href="{{ item.url }}" class="cart-product-name">
                  {% if settings.enable_multilang %}
                    <span class="lang1">{{ item.product.title | split: '|' | first }}</span>
                    <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                  {% else %}
                    {{ item.product.title | split: '|' | first }}
                  {% endif %}
                </a>
                
                {% comment %}
                  <p class="cart-price">{{ item.price | money }}</p>
                {% endcomment %}
                <p class="cart-price">{{ item.line_price | money }}</p>
                
                {% assign item_title =  item.title | split: ' / ' %}
                <p class="cart-style">{{ item.title | split: ' - ' | last | split: ' / ' | first }}</p>
                <p class="cart-product-detail"><span>Color: {{item_title[1]}}</span><span>Size: {{ item.title | split: ' / ' | last }}</span></p>

                {% comment %}
                  Optional, add the vendor
                <p class="cart-vendor">{{ item.vendor }}</p>
                {% endcomment %}

                {% comment %}
                  Optional, loop through custom product line items if available
                  For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}

                {% if item.properties.size > 0 %}
                  <p>
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                        <br>
                      {% endunless %}
                    {% endfor %}
                  </p>
                {% endif %}

                {% comment %}
                  Added data-id for the ajax cart implementation only.
                {% endcomment %}

                <div class="cart-quantity">
                  <label {% if settings.enable_multilang %}data-translate="cart.label.quantity"{%endif%}>QTY:</label>
                  <div class="wrap-cart-qty">
                    <span class="dec-button qty-button">-</span>
                    <input class="qty" type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                    <span class="inc-button qty-button">+</span>
                  </div>
                </div>
              </div>
              {% comment %}
                    To remove an item from the cart, reload the page with the following parameters.
                    Added data-id for the ajax cart implementation only.
                  {% endcomment %}
                  <a class="remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}" {% if settings.enable_multilang %}data-translate="cart.general.remove"{%endif%}>{{ 'cart.general.remove' | t }}</a>
                  <input class="update" type="submit" name="update" class="btn-secondary" {% if settings.enable_multilang %}data-translate="cart.general.update"{%endif%} value="{{ 'cart.general.update' | t }}">
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="cart-row">
        <div class="total-price">
          <p class="subtotal" {% if settings.enable_multilang %}data-translate="cart.general.subtotal"{%endif%}>{{ 'cart.general.subtotal' | t }}:</p>
          <p class="cart-price">{{ cart.total_price | money }}</p>
        </div>

        {% comment %}
          Optional, add a textarea for special notes
          - Your theme settings can turn this on or off. Default is on.
          - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes %}
          <label class="add-comments" for="cartSpecialInstructions">
            <span {% if settings.enable_multilang %}data-translate="cart.general.label"{%endif%}>{{ 'cart.general.label' | t }}</span>
            <span {% if settings.enable_multilang %}data-translate="cart.general.label_text"{%endif%}>{{ 'cart.general.label_text' | t }}</span></label>
          <textarea name="note" class="input-full" id="cartSpecialInstructions">{{ cart.note }}</textarea>
        {% endif %}

        {% comment %}
          If notes are used, adjust the column width
        {% endcomment %}
		
        <p class="checkout-note">Shipping and Tax are Calculated at Checkout</p>
        
        {% comment %}
          name="checkout" is required for the update button to work
        {% endcomment %}
        <div class="checkout-span"><input type="submit" name="checkout" class="checkout-btn" {% if settings.enable_multilang %}data-translate="cart.general.button_checkout"{%endif%} value="{{ 'cart.general.button_checkout' | t }}"></div>
        <p class="or-txt">OR</p>
        <a class="paypal-checkout" href="#"></a>
        {% comment %}
          name="update" is required for the update button to work
        {% endcomment %}

        {% comment %}
          Paypal and Google checkout buttons
        {% endcomment %}
        {% if additional_checkout_buttons %}
          <p>{{ content_for_additional_checkout_buttons }}</p>
        {% endif %}

        {% unless cart.item_count == 0 %}
          {% include 'shipping-rates-calculator' %}
        {% endunless %}
      </div>
    </div>
  </form>

{% else %}
<div class="cart-container">
<div class="container">
  <!--p class="center bold" {% if settings.enable_multilang %}data-translate="cart.general.empty"{%endif%}>{{ 'cart.general.empty' | t }}</p>
  <p class="center" {% if settings.enable_multilang %}data-translate="cart.general.continue_browsing_html"{%endif%}>{{ 'cart.general.continue_browsing_html' | t }}</p!-->
  <p class="free-ship-cart pc">Free shipping for any US orders above $75</p>
  <div class="empty-cart">
    <p class="sp">Your cart is empty :(</p>
    <div class="empty-img">
      <svg width="664" height="576" viewBox="0 0 664 576" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M108.041 40.4519C107.945 40.4519 109.16 34.4848 109.272 34.0528C110.648 29.7815 115.831 22.3585 120.839 22.3745C121.673 22.3981 122.493 22.5972 123.245 22.959C123.996 23.3207 124.664 23.837 125.203 24.474C125.742 25.1111 126.14 25.8546 126.372 26.6561C126.604 27.4576 126.665 28.2991 126.55 29.1256C126.182 32.6451 123.014 35.6526 120.151 37.3804C116.791 39.4761 108.041 40.4519 108.041 40.4519Z" fill="#00BB5E"/>
<path d="M98.33 0.329851C103.129 2.0256 105.401 10.7603 105.241 15.2397C105.241 15.6236 104.345 21.6388 104.265 21.6388H104.169C104.537 23.0146 104.937 24.5023 105.337 26.1341C106.041 29.1417 106.809 32.5332 107.401 36.3086C108.087 40.353 108.536 44.434 108.744 48.5309C109 53.1215 108.844 57.7258 108.28 62.2889C108.273 62.3419 108.273 62.3958 108.28 62.4488C108.904 61.121 110.76 57.4416 110.92 57.1856C113.384 53.4422 120.327 47.587 125.174 48.9788C125.97 49.2215 126.706 49.6293 127.333 50.1756C127.961 50.7219 128.466 51.3943 128.817 52.1491C129.167 52.9039 129.354 53.724 129.366 54.556C129.378 55.388 129.214 56.2132 128.886 56.9776C127.606 60.2732 123.766 62.3369 120.551 63.2487C116.919 64.2886 108.824 63.0728 108.185 62.9608C107.5 67.5922 106.506 72.1725 105.209 76.6708C104.462 79.2944 103.652 81.9127 102.777 84.5256C103.337 83.3898 103.865 82.382 103.945 82.254C106.409 78.4945 113.368 72.6554 118.199 74.0472C118.995 74.2899 119.731 74.6977 120.358 75.244C120.986 75.7903 121.491 76.4627 121.842 77.2175C122.192 77.9723 122.379 78.7924 122.391 79.6244C122.403 80.4564 122.239 81.2815 121.911 82.046C120.631 85.3415 116.791 87.4052 113.576 88.3171C110.36 89.229 103.385 88.3171 101.561 88.0771L100.554 91.0847C98.9539 95.884 97.2101 100.683 95.7543 105.387C95.2264 106.986 94.7625 108.714 94.2985 110.378C94.8105 109.37 95.2424 108.522 95.3224 108.394C97.77 104.651 104.729 98.7956 109.56 100.187C110.355 100.433 111.089 100.842 111.716 101.388C112.342 101.935 112.847 102.606 113.199 103.36C113.55 104.113 113.739 104.932 113.754 105.764C113.77 106.595 113.611 107.42 113.288 108.186C112.008 111.498 108.153 113.545 104.937 114.473C101.721 115.401 95.4344 114.585 93.2587 114.281C92.8267 115.993 92.4108 117.705 92.0749 119.385C91.8669 120.552 91.5949 121.64 91.4509 122.808L90.971 126.248C90.747 128.439 90.4911 130.695 90.3311 132.839C90.2031 134.326 90.1071 135.75 90.0112 137.19C90.5231 135.59 91.6109 132.279 91.6109 132.023C93.3826 128.503 96.0262 125.496 99.2898 123.288C99.4638 122.88 99.6838 122.494 99.9457 122.136C100.399 121.437 100.994 120.842 101.693 120.389C102.392 119.935 103.178 119.635 104.001 119.507C104.824 119.378 105.665 119.425 106.468 119.644C107.272 119.863 108.02 120.249 108.664 120.776C112.472 124.056 111.512 133.047 109.768 137.174C109.672 137.414 108.249 139.926 107.337 141.509C108.025 140.661 108.664 139.83 109.384 138.982C110.776 137.27 112.216 135.606 113.752 133.814L116.103 131.271C116.871 130.407 117.799 129.671 118.647 128.727C120.647 126.792 122.774 124.92 124.966 123.08C123.478 121.864 118.231 117.449 116.727 114.441C115.224 111.434 114.152 107.226 115.719 104.043C116.064 103.284 116.565 102.605 117.188 102.052C117.812 101.499 118.545 101.082 119.34 100.831C120.135 100.579 120.974 100.497 121.803 100.59C122.631 100.683 123.431 100.949 124.15 101.371C128.39 104.043 128.822 113.082 127.718 117.369C127.718 117.641 126.502 120.664 125.846 122.312C127.174 121.224 128.486 120.136 129.861 119.113C133.829 116.057 137.94 113.066 142.02 110.074L145.747 107.322C145.219 106.89 138.884 101.771 137.188 98.3956C135.701 95.4041 134.613 91.1807 136.18 88.0131C136.523 87.2522 137.023 86.5721 137.646 86.0173C138.27 85.4625 139.003 85.0454 139.799 84.7933C140.594 84.5412 141.434 84.4597 142.263 84.5542C143.093 84.6486 143.893 84.9169 144.611 85.3415C148.867 87.9971 149.283 97.0358 148.179 101.339C148.099 101.659 146.451 106.011 145.987 107.098C148.707 105.067 151.41 103.019 153.986 100.875C157.49 98.0185 160.804 94.935 163.904 91.6446C163.664 91.4366 157.025 86.1254 155.298 82.6859C153.794 79.6944 152.722 75.455 154.29 72.2874C154.633 71.5287 155.132 70.8507 155.754 70.2974C156.376 69.7441 157.108 69.328 157.902 69.076C158.695 68.8241 159.533 68.7419 160.361 68.8349C161.188 68.9279 161.987 69.194 162.705 69.6158C166.96 72.2874 167.392 81.3261 166.288 85.6135C166.288 85.9014 164.96 89.213 164.336 90.7807L164.576 90.9407C167.607 87.5397 170.332 83.878 172.719 79.9983C174.063 77.8706 175.215 75.7749 176.303 73.7112C174.959 72.8473 168.896 68.8319 166.992 65.9043C165.088 62.9768 163.648 59.0093 164.848 55.6818C165.105 54.8886 165.527 54.1585 166.085 53.539C166.643 52.9196 167.326 52.4246 168.088 52.0866C168.85 51.7485 169.675 51.5748 170.509 51.5768C171.343 51.5788 172.167 51.7565 172.927 52.0983C177.454 54.29 178.862 63.2967 178.238 67.6641C178.238 67.9041 177.598 70.3197 177.135 72.0634C177.598 71.1196 178.11 70.1597 178.542 69.2479C180.142 65.8404 181.502 62.6088 182.622 59.6493C183.262 58.0495 183.79 56.5297 184.222 55.1219C183.342 53.5221 179.918 47.379 179.582 43.9235C179.246 40.468 179.79 36.2766 182.398 33.877C182.991 33.2927 183.702 32.8399 184.482 32.5481C185.262 32.2563 186.095 32.132 186.926 32.1833C187.758 32.2346 188.569 32.4603 189.308 32.8459C190.046 33.2314 190.695 33.768 191.212 34.4209C194.22 38.4363 191.356 47.0271 188.765 50.6746C188.541 50.9945 184.461 55.4739 184.413 55.4739V55.3779C183.966 56.7377 183.486 58.1935 182.91 59.7612C181.854 62.6728 180.622 65.9363 179.038 69.3598C177.364 73.1059 175.479 76.7539 173.391 80.2863C171.062 84.2485 168.385 87.996 165.392 91.4846L165.28 91.6126C166.528 90.8447 170.08 88.797 170.383 88.669C174.511 86.9093 183.502 85.9174 186.797 89.6929C187.328 90.3354 187.717 91.0824 187.939 91.8853C188.162 92.6882 188.213 93.5289 188.089 94.3529C187.966 95.1768 187.67 95.9654 187.221 96.6675C186.773 97.3695 186.181 97.9693 185.485 98.4276C182.59 100.475 178.254 100.027 175.055 99.0675C171.455 97.9157 165.456 92.4445 164.912 91.9966C161.788 95.4825 158.431 98.7535 154.866 101.787C152.802 103.563 150.658 105.291 148.467 107.002C149.571 106.362 150.562 105.803 150.706 105.739C154.818 103.979 163.808 102.987 167.104 106.762C167.637 107.404 168.028 108.151 168.252 108.954C168.476 109.757 168.528 110.599 168.404 111.424C168.28 112.248 167.984 113.037 167.533 113.739C167.083 114.441 166.49 115.04 165.792 115.497C162.913 117.545 158.561 117.097 155.378 116.137C152.194 115.177 146.867 110.538 145.491 109.306C144.643 109.946 143.891 110.602 142.979 111.258C138.964 114.329 134.981 117.385 131.061 120.52C129.701 121.608 128.406 122.744 127.094 123.88L129.045 122.792C133.157 121.032 142.148 120.024 145.443 123.8C145.974 124.444 146.363 125.192 146.586 125.996C146.809 126.8 146.86 127.642 146.736 128.467C146.613 129.293 146.317 130.083 145.868 130.786C145.419 131.49 144.827 132.091 144.131 132.551C141.252 134.598 136.9 134.15 133.717 133.175C130.533 132.199 125.718 128.023 124.118 126.568C122.822 127.767 121.511 128.967 120.311 130.183C119.495 131.031 118.711 131.783 117.911 132.695L115.607 135.286C114.216 136.998 112.76 138.742 111.432 140.438C110.504 141.605 109.64 142.741 108.776 143.893C110.104 142.773 112.792 140.693 113.032 140.502C116.823 138.134 125.574 135.702 129.397 139.03C130.017 139.586 130.513 140.267 130.852 141.028C131.191 141.789 131.366 142.612 131.366 143.445C131.366 144.278 131.191 145.102 130.852 145.862C130.513 146.623 130.017 147.304 129.397 147.86C126.838 150.324 122.486 150.58 119.191 150.068C115.543 149.492 108.952 145.269 108.137 144.661C106.697 146.565 105.321 148.404 104.041 150.18C99.6098 156.307 96.1543 161.586 93.7866 165.298L93.5466 165.682L90.4751 164.194L90.955 163.458C93.4347 159.747 97.0501 154.5 101.657 148.42C103.113 146.485 104.697 144.453 106.345 142.389C104.631 140.517 103.029 138.546 101.545 136.486C98.01 137.878 90.6831 137.926 89.7232 137.926C89.5792 140.294 89.4512 142.613 89.3553 144.789C89.0353 152.34 89.0673 158.643 89.1473 163.058V163.57L85.7718 161.97C85.7718 157.587 85.9477 151.668 86.3957 144.661C86.5396 142.261 86.7476 139.686 86.9876 137.046C86.0437 136.806 78.4128 134.854 75.5333 132.551C72.9256 130.455 70.174 127.079 70.27 123.528C70.2636 122.695 70.4327 121.87 70.7663 121.106C71.0999 120.343 71.5905 119.658 72.2062 119.097C72.8218 118.535 73.5488 118.11 74.3398 117.848C75.1308 117.586 75.968 117.494 76.7971 117.577C81.7723 118.217 85.9477 126.248 86.7636 130.647C86.7636 130.919 87.0196 133.846 87.1156 135.606C87.2276 134.534 87.3075 133.479 87.4355 132.407C87.6435 130.215 87.9315 128.039 88.2354 125.688C88.4114 124.552 88.6034 123.416 88.7793 122.264C88.9553 121.112 89.2593 119.929 89.4992 118.745C90.1071 116.025 90.843 113.289 91.6589 110.554C89.7392 110.362 82.9402 109.562 80.0286 107.882C77.117 106.202 73.8855 103.291 73.4536 99.7714C73.3198 98.9482 73.3611 98.106 73.5746 97.2998C73.7882 96.4936 74.1693 95.7414 74.6931 95.0923C75.2168 94.4433 75.8715 93.9119 76.6144 93.5329C77.3574 93.1538 78.1718 92.9356 79.0048 92.8924C84.012 92.7804 89.3552 100.075 90.827 104.315C90.923 104.571 91.6429 107.722 92.0109 109.466C92.5068 107.866 92.9867 106.187 93.6106 104.539C95.2104 99.7394 97.0181 95.0521 98.7779 90.3008C99.3218 88.845 99.8337 87.3892 100.378 85.9334C99.6898 85.9334 91.5789 85.0856 88.3154 83.2138C85.4198 81.6141 82.1883 78.6225 81.7404 75.103C81.6092 74.2801 81.6523 73.4389 81.8669 72.6337C82.0815 71.8285 82.4627 71.0774 82.986 70.4289C83.5093 69.7804 84.163 69.2491 84.9047 68.8693C85.6463 68.4895 86.4595 68.2696 87.2915 68.224C92.3148 68.112 97.658 75.407 99.1298 79.6464C99.2418 79.9663 100.266 84.4456 100.474 85.6615C101.625 82.4619 102.761 79.2624 103.673 76.0629C105.026 71.7433 106.095 67.3399 106.873 62.8808C106.553 62.8808 98.09 62.0809 94.7465 60.1612C91.8349 58.5614 88.6034 55.5698 88.1714 52.0504C88.0375 51.228 88.0788 50.3866 88.2925 49.5812C88.5062 48.7759 88.8875 48.0247 89.4115 47.3769C89.9355 46.729 90.5904 46.1991 91.3333 45.8218C92.0762 45.4445 92.8904 45.2283 93.7226 45.1873C98.7299 45.0594 104.073 52.3543 105.545 56.5937C105.641 56.8657 106.441 60.3212 106.777 61.9849H107.049C107.709 57.4788 107.966 52.9227 107.817 48.3709C107.817 45.8592 107.577 43.4756 107.337 41.1559C105.737 41.1559 98.4739 41.1559 95.2744 39.7641C92.0749 38.3723 88.6673 35.8767 87.8355 32.4372C87.6136 31.6315 87.5643 30.788 87.6909 29.9619C87.8176 29.1359 88.1172 28.3459 88.5703 27.6436C89.0233 26.9414 89.6196 26.3428 90.32 25.8869C91.0204 25.431 91.8092 25.1282 92.6348 24.9983C97.61 24.3104 103.721 30.9974 105.657 35.0288C105.753 35.2528 106.585 37.6044 107.145 39.3322C107.033 38.2763 106.921 37.1885 106.777 36.1327C106.281 32.3732 105.577 28.9657 104.937 25.9421C104.553 24.2304 104.185 22.7426 103.817 21.2548C102.217 20.4549 95.9463 17.1594 93.8026 14.5038C91.6589 11.8482 89.7392 7.99274 90.6031 4.56924C90.7943 3.76078 91.153 3.00147 91.6562 2.34042C92.1594 1.67938 92.7957 1.13132 93.524 0.731721C94.2524 0.332118 95.0565 0.0898686 95.8843 0.0206425C96.7122 -0.0485835 97.5454 0.056758 98.33 0.329851Z" fill="#00BB5E"/>
<path d="M189.006 77.583C185.087 77.423 177.248 73.4076 177.248 73.4076C177.248 73.4076 181.455 69.0402 181.759 68.8003C185.263 66.0167 193.678 62.6731 197.853 65.4567C198.536 65.9349 199.109 66.5518 199.537 67.2671C199.965 67.9823 200.237 68.7798 200.335 69.6074C200.433 70.435 200.355 71.2739 200.107 72.0694C199.858 72.8649 199.445 73.5989 198.893 74.2235C196.653 76.9591 192.35 77.727 189.006 77.583Z" fill="#00BB5E"/>
<g opacity="0.5">
<path opacity="0.5" d="M108.041 40.4519C107.945 40.4519 109.16 34.4848 109.272 34.0528C110.648 29.7815 115.831 22.3585 120.839 22.3745C121.673 22.3981 122.493 22.5972 123.245 22.959C123.996 23.3207 124.664 23.837 125.203 24.474C125.742 25.1111 126.14 25.8546 126.372 26.6561C126.604 27.4576 126.665 28.2991 126.55 29.1256C126.182 32.6451 123.014 35.6526 120.151 37.3804C116.791 39.4761 108.041 40.4519 108.041 40.4519Z" fill="white"/>
<path opacity="0.5" d="M98.33 0.329851C103.129 2.0256 105.401 10.7603 105.241 15.2397C105.241 15.6236 104.345 21.6388 104.265 21.6388H104.169C104.537 23.0146 104.937 24.5023 105.337 26.1341C106.041 29.1417 106.809 32.5332 107.401 36.3086C108.087 40.353 108.536 44.434 108.744 48.5309C109 53.1215 108.844 57.7258 108.28 62.2889C108.273 62.3419 108.273 62.3958 108.28 62.4488C108.904 61.121 110.76 57.4416 110.92 57.1856C113.384 53.4422 120.327 47.587 125.174 48.9788C125.97 49.2215 126.706 49.6293 127.333 50.1756C127.961 50.7219 128.466 51.3943 128.817 52.1491C129.167 52.9039 129.354 53.724 129.366 54.556C129.378 55.388 129.214 56.2132 128.886 56.9776C127.606 60.2732 123.766 62.3369 120.551 63.2487C116.919 64.2886 108.824 63.0728 108.185 62.9608C107.5 67.5922 106.506 72.1725 105.209 76.6708C104.462 79.2944 103.652 81.9127 102.777 84.5256C103.337 83.3898 103.865 82.382 103.945 82.254C106.409 78.4945 113.368 72.6554 118.199 74.0472C118.995 74.2899 119.731 74.6977 120.358 75.244C120.986 75.7903 121.491 76.4627 121.842 77.2175C122.192 77.9723 122.379 78.7924 122.391 79.6244C122.403 80.4564 122.239 81.2815 121.911 82.046C120.631 85.3415 116.791 87.4052 113.576 88.3171C110.36 89.229 103.385 88.3171 101.561 88.0771L100.554 91.0847C98.9539 95.884 97.2101 100.683 95.7543 105.387C95.2264 106.986 94.7625 108.714 94.2985 110.378C94.8105 109.37 95.2424 108.522 95.3224 108.394C97.77 104.651 104.729 98.7956 109.56 100.187C110.355 100.433 111.089 100.842 111.716 101.388C112.342 101.935 112.847 102.606 113.199 103.36C113.55 104.113 113.739 104.932 113.754 105.764C113.77 106.595 113.611 107.42 113.288 108.186C112.008 111.498 108.153 113.545 104.937 114.473C101.721 115.401 95.4344 114.585 93.2587 114.281C92.8267 115.993 92.4108 117.705 92.0749 119.385C91.8669 120.552 91.5949 121.64 91.4509 122.808L90.971 126.248C90.747 128.439 90.4911 130.695 90.3311 132.839C90.2031 134.326 90.1071 135.75 90.0112 137.19C90.5231 135.59 91.6109 132.279 91.6109 132.023C93.3826 128.503 96.0262 125.496 99.2898 123.288C99.4638 122.88 99.6838 122.494 99.9457 122.136C100.399 121.437 100.994 120.842 101.693 120.389C102.392 119.935 103.178 119.635 104.001 119.507C104.824 119.378 105.665 119.425 106.468 119.644C107.272 119.863 108.02 120.249 108.664 120.776C112.472 124.056 111.512 133.047 109.768 137.174C109.672 137.414 108.249 139.926 107.337 141.509C108.025 140.661 108.664 139.83 109.384 138.982C110.776 137.27 112.216 135.606 113.752 133.814L116.103 131.271C116.871 130.407 117.799 129.671 118.647 128.727C120.647 126.792 122.774 124.92 124.966 123.08C123.478 121.864 118.231 117.449 116.727 114.441C115.224 111.434 114.152 107.226 115.719 104.043C116.064 103.284 116.565 102.605 117.188 102.052C117.812 101.499 118.545 101.082 119.34 100.831C120.135 100.579 120.974 100.497 121.803 100.59C122.631 100.683 123.431 100.949 124.15 101.371C128.39 104.043 128.822 113.082 127.718 117.369C127.718 117.641 126.502 120.664 125.846 122.312C127.174 121.224 128.486 120.136 129.861 119.113C133.829 116.057 137.94 113.066 142.02 110.074L145.747 107.322C145.219 106.89 138.884 101.771 137.188 98.3956C135.701 95.4041 134.613 91.1807 136.18 88.0131C136.523 87.2522 137.023 86.5721 137.646 86.0173C138.27 85.4625 139.003 85.0454 139.799 84.7933C140.594 84.5412 141.434 84.4597 142.263 84.5542C143.093 84.6486 143.893 84.9169 144.611 85.3415C148.867 87.9971 149.283 97.0358 148.179 101.339C148.099 101.659 146.451 106.011 145.987 107.098C148.707 105.067 151.41 103.019 153.986 100.875C157.49 98.0185 160.804 94.935 163.904 91.6446C163.664 91.4366 157.025 86.1254 155.298 82.6859C153.794 79.6944 152.722 75.455 154.29 72.2874C154.633 71.5287 155.132 70.8507 155.754 70.2974C156.376 69.7441 157.108 69.328 157.902 69.076C158.695 68.8241 159.533 68.7419 160.361 68.8349C161.188 68.9279 161.987 69.194 162.705 69.6158C166.96 72.2874 167.392 81.3261 166.288 85.6135C166.288 85.9014 164.96 89.213 164.336 90.7807L164.576 90.9407C167.607 87.5397 170.332 83.878 172.719 79.9983C174.063 77.8706 175.215 75.7749 176.303 73.7112C174.959 72.8473 168.896 68.8319 166.992 65.9043C165.088 62.9768 163.648 59.0093 164.848 55.6818C165.105 54.8886 165.527 54.1585 166.085 53.539C166.643 52.9196 167.326 52.4246 168.088 52.0866C168.85 51.7485 169.675 51.5748 170.509 51.5768C171.343 51.5788 172.167 51.7565 172.927 52.0983C177.454 54.29 178.862 63.2967 178.238 67.6641C178.238 67.9041 177.598 70.3197 177.135 72.0634C177.598 71.1196 178.11 70.1597 178.542 69.2479C180.142 65.8404 181.502 62.6088 182.622 59.6493C183.262 58.0495 183.79 56.5297 184.222 55.1219C183.342 53.5221 179.918 47.379 179.582 43.9235C179.246 40.468 179.79 36.2766 182.398 33.877C182.991 33.2927 183.702 32.8399 184.482 32.5481C185.262 32.2563 186.095 32.132 186.926 32.1833C187.758 32.2346 188.569 32.4603 189.308 32.8459C190.046 33.2314 190.695 33.768 191.212 34.4209C194.22 38.4363 191.356 47.0271 188.765 50.6746C188.541 50.9945 184.461 55.4739 184.413 55.4739V55.3779C183.966 56.7377 183.486 58.1935 182.91 59.7612C181.854 62.6728 180.622 65.9363 179.038 69.3598C177.364 73.1059 175.479 76.7539 173.391 80.2863C171.062 84.2485 168.385 87.996 165.392 91.4846L165.28 91.6126C166.528 90.8447 170.08 88.797 170.383 88.669C174.511 86.9093 183.502 85.9174 186.797 89.6929C187.328 90.3354 187.717 91.0824 187.939 91.8853C188.162 92.6882 188.213 93.5289 188.089 94.3529C187.966 95.1768 187.67 95.9654 187.221 96.6675C186.773 97.3695 186.181 97.9693 185.485 98.4276C182.59 100.475 178.254 100.027 175.055 99.0675C171.455 97.9157 165.456 92.4445 164.912 91.9966C161.788 95.4825 158.431 98.7535 154.866 101.787C152.802 103.563 150.658 105.291 148.467 107.002C149.571 106.362 150.562 105.803 150.706 105.739C154.818 103.979 163.808 102.987 167.104 106.762C167.637 107.404 168.028 108.151 168.252 108.954C168.476 109.757 168.528 110.599 168.404 111.424C168.28 112.248 167.984 113.037 167.533 113.739C167.083 114.441 166.49 115.04 165.792 115.497C162.913 117.545 158.561 117.097 155.378 116.137C152.194 115.177 146.867 110.538 145.491 109.306C144.643 109.946 143.891 110.602 142.979 111.258C138.964 114.329 134.981 117.385 131.061 120.52C129.701 121.608 128.406 122.744 127.094 123.88L129.045 122.792C133.157 121.032 142.148 120.024 145.443 123.8C145.974 124.444 146.363 125.192 146.586 125.996C146.809 126.8 146.86 127.642 146.736 128.467C146.613 129.293 146.317 130.083 145.868 130.786C145.419 131.49 144.827 132.091 144.131 132.551C141.252 134.598 136.9 134.15 133.717 133.175C130.533 132.199 125.718 128.023 124.118 126.568C122.822 127.767 121.511 128.967 120.311 130.183C119.495 131.031 118.711 131.783 117.911 132.695L115.607 135.286C114.216 136.998 112.76 138.742 111.432 140.438C110.504 141.605 109.64 142.741 108.776 143.893C110.104 142.773 112.792 140.693 113.032 140.502C116.823 138.134 125.574 135.702 129.397 139.03C130.017 139.586 130.513 140.267 130.852 141.028C131.191 141.789 131.366 142.612 131.366 143.445C131.366 144.278 131.191 145.102 130.852 145.862C130.513 146.623 130.017 147.304 129.397 147.86C126.838 150.324 122.486 150.58 119.191 150.068C115.543 149.492 108.952 145.269 108.137 144.661C106.697 146.565 105.321 148.404 104.041 150.18C99.6098 156.307 96.1543 161.586 93.7866 165.298L93.5466 165.682L90.4751 164.194L90.955 163.458C93.4347 159.747 97.0501 154.5 101.657 148.42C103.113 146.485 104.697 144.453 106.345 142.389C104.631 140.517 103.029 138.546 101.545 136.486C98.01 137.878 90.6831 137.926 89.7232 137.926C89.5792 140.294 89.4512 142.613 89.3553 144.789C89.0353 152.34 89.0673 158.643 89.1473 163.058V163.57L85.7718 161.97C85.7718 157.587 85.9477 151.668 86.3957 144.661C86.5396 142.261 86.7476 139.686 86.9876 137.046C86.0437 136.806 78.4128 134.854 75.5333 132.551C72.9256 130.455 70.174 127.079 70.27 123.528C70.2636 122.695 70.4327 121.87 70.7663 121.106C71.0999 120.343 71.5905 119.658 72.2062 119.097C72.8218 118.535 73.5488 118.11 74.3398 117.848C75.1308 117.586 75.968 117.494 76.7971 117.577C81.7723 118.217 85.9477 126.248 86.7636 130.647C86.7636 130.919 87.0196 133.846 87.1156 135.606C87.2276 134.534 87.3075 133.479 87.4355 132.407C87.6435 130.215 87.9315 128.039 88.2354 125.688C88.4114 124.552 88.6034 123.416 88.7793 122.264C88.9553 121.112 89.2593 119.929 89.4992 118.745C90.1071 116.025 90.843 113.289 91.6589 110.554C89.7392 110.362 82.9402 109.562 80.0286 107.882C77.117 106.202 73.8855 103.291 73.4536 99.7714C73.3198 98.9482 73.3611 98.106 73.5746 97.2998C73.7882 96.4936 74.1693 95.7414 74.6931 95.0923C75.2168 94.4433 75.8715 93.9119 76.6144 93.5329C77.3574 93.1538 78.1718 92.9356 79.0048 92.8924C84.012 92.7804 89.3552 100.075 90.827 104.315C90.923 104.571 91.6429 107.722 92.0109 109.466C92.5068 107.866 92.9867 106.187 93.6106 104.539C95.2104 99.7394 97.0181 95.0521 98.7779 90.3008C99.3218 88.845 99.8337 87.3892 100.378 85.9334C99.6898 85.9334 91.5789 85.0856 88.3154 83.2138C85.4198 81.6141 82.1883 78.6225 81.7404 75.103C81.6092 74.2801 81.6523 73.4389 81.8669 72.6337C82.0815 71.8285 82.4627 71.0774 82.986 70.4289C83.5093 69.7804 84.163 69.2491 84.9047 68.8693C85.6463 68.4895 86.4595 68.2696 87.2915 68.224C92.3148 68.112 97.658 75.407 99.1298 79.6464C99.2418 79.9663 100.266 84.4456 100.474 85.6615C101.625 82.4619 102.761 79.2624 103.673 76.0629C105.026 71.7433 106.095 67.3399 106.873 62.8808C106.553 62.8808 98.09 62.0809 94.7465 60.1612C91.8349 58.5614 88.6034 55.5698 88.1714 52.0504C88.0375 51.228 88.0788 50.3866 88.2925 49.5812C88.5062 48.7759 88.8875 48.0247 89.4115 47.3769C89.9355 46.729 90.5904 46.1991 91.3333 45.8218C92.0762 45.4445 92.8904 45.2283 93.7226 45.1873C98.7299 45.0594 104.073 52.3543 105.545 56.5937C105.641 56.8657 106.441 60.3212 106.777 61.9849H107.049C107.709 57.4788 107.966 52.9227 107.817 48.3709C107.817 45.8592 107.577 43.4756 107.337 41.1559C105.737 41.1559 98.4739 41.1559 95.2744 39.7641C92.0749 38.3723 88.6673 35.8767 87.8355 32.4372C87.6136 31.6315 87.5643 30.788 87.6909 29.9619C87.8176 29.1359 88.1172 28.3459 88.5703 27.6436C89.0233 26.9414 89.6196 26.3428 90.32 25.8869C91.0204 25.431 91.8092 25.1282 92.6348 24.9983C97.61 24.3104 103.721 30.9974 105.657 35.0288C105.753 35.2528 106.585 37.6044 107.145 39.3322C107.033 38.2763 106.921 37.1885 106.777 36.1327C106.281 32.3732 105.577 28.9657 104.937 25.9421C104.553 24.2304 104.185 22.7426 103.817 21.2548C102.217 20.4549 95.9463 17.1594 93.8026 14.5038C91.6589 11.8482 89.7392 7.99274 90.6031 4.56924C90.7943 3.76078 91.153 3.00147 91.6562 2.34042C92.1594 1.67938 92.7957 1.13132 93.524 0.731721C94.2524 0.332118 95.0565 0.0898686 95.8843 0.0206425C96.7122 -0.0485835 97.5454 0.056758 98.33 0.329851Z" fill="white"/>
<path opacity="0.5" d="M189.004 77.583C185.085 77.423 177.246 73.4076 177.246 73.4076C177.246 73.4076 181.453 69.0402 181.757 68.8003C185.261 66.0167 193.676 62.6731 197.851 65.4567C198.534 65.9349 199.108 66.5518 199.535 67.2671C199.963 67.9823 200.235 68.7798 200.333 69.6074C200.431 70.435 200.353 71.2739 200.105 72.0694C199.856 72.8649 199.443 73.5989 198.891 74.2235C196.651 76.9591 192.348 77.727 189.004 77.583Z" fill="white"/>
</g>
<path d="M143.235 175.745C143.235 175.745 119.447 118.409 106.137 120.905C92.8268 123.4 128.966 212.316 128.966 212.316C128.966 212.316 87.1156 133.367 58.5757 133.367C30.0359 133.367 69.0382 220.618 105.273 249.702C105.273 249.702 48.1932 188.207 14.9021 201.501C-18.3891 214.795 81.4044 277.09 81.4044 277.09C81.4044 277.09 23.3808 258.837 30.0839 272.979C36.7869 287.121 54.8163 289.584 54.8163 289.584L70.0781 292.912H153.266L166.064 287.937C166.064 287.937 219.336 261.332 205.066 250.534C190.797 239.736 159.409 262.996 159.409 262.996C159.409 262.996 213.625 203.165 203.163 180.736C192.7 158.307 146.083 221.45 146.083 221.45C146.083 221.45 184.141 140.838 176.479 126.712C168.816 112.586 143.235 175.745 143.235 175.745Z" fill="#00BB5E"/>
<path opacity="0.4" d="M143.235 175.745C143.235 175.745 119.447 118.409 106.137 120.905C92.8268 123.4 128.966 212.316 128.966 212.316C128.966 212.316 87.1156 133.367 58.5757 133.367C30.0359 133.367 69.0382 220.618 105.273 249.702C105.273 249.702 48.1932 188.207 14.9021 201.501C-18.3891 214.795 81.4044 277.09 81.4044 277.09C81.4044 277.09 23.3808 258.837 30.0839 272.979C36.7869 287.121 54.8163 289.584 54.8163 289.584L79.6767 292.912H146.867L166.064 287.937C166.064 287.937 219.336 261.332 205.066 250.534C190.797 239.736 159.409 262.996 159.409 262.996C159.409 262.996 213.625 203.165 203.163 180.736C192.7 158.307 146.083 221.45 146.083 221.45C146.083 221.45 184.141 140.838 176.479 126.712C168.816 112.586 143.235 175.745 143.235 175.745Z" fill="white"/>
<path d="M150.851 178.768C129.926 240.599 129.926 284.352 129.926 284.352C129.926 284.352 154.658 285.312 180.334 266.275" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M140.467 212.059C136.15 193.576 130.422 175.451 123.334 157.843" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M78.5566 175.905L131.813 254.869C131.813 254.869 167.968 224.474 180.334 207.308" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M130.868 273.89C130.868 273.89 74.7486 247.254 51.9199 232.041" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M299.82 47.7312H288.254V529.725H299.82V47.7312Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M91.7558 47.7312H80.1895V529.725H91.7558V47.7312Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M195.787 47.7312H184.221V529.725H195.787V47.7312Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M403.838 47.7312H392.271V529.725H403.838V47.7312Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M400.366 62.7529H76.4609V84.7178H400.366V62.7529Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M400.368 62.7529H191.918V84.7178H400.368V62.7529Z" fill="#0294C7" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M400.366 283.921H76.4609V305.886H400.366V283.921Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M400.368 283.921H191.918V305.886H400.368V283.921Z" fill="#0294C7" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M400.366 505.073H76.4609V527.037H400.366V505.073Z" fill="#01779F" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M400.368 505.073H191.918V527.037H400.368V505.073Z" fill="#0294C7" stroke="#06457B" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M191.965 387.154H22.4531V529.549H191.965V387.154Z" fill="#FABC86"/>
<path opacity="0.6" d="M191.965 387.154H22.4531V529.549H191.965V387.154Z" fill="white" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M191.965 387.154H22.4531V529.549H191.965V387.154Z" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M191.965 387.154H135.637V529.549H191.965V387.154Z" fill="#FABC86"/>
<path opacity="0.39" d="M191.965 387.154H135.637V529.549H191.965V387.154Z" fill="white" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M191.965 387.154H135.637V529.549H191.965V387.154Z" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M164.385 387.538V529.725" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M200.523 244.982H31.0117V387.378H200.523V244.982Z" fill="#FABC86"/>
<path opacity="0.6" d="M200.523 244.982H31.0117V387.378H200.523V244.982Z" fill="white" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M200.523 244.982H31.0117V387.378H200.523V244.982Z" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M200.523 244.982H144.195V387.378H200.523V244.982Z" fill="#FABC86"/>
<path opacity="0.39" d="M200.523 244.982H144.195V387.378H200.523V244.982Z" fill="white" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M200.523 244.982H144.195V387.378H200.523V244.982Z" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M172.943 245.366V387.553" stroke="#696969" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.642 387.154H472.131V529.549H641.642V387.154Z" fill="#FABC86"/>
<path opacity="0.6" d="M641.642 387.154H472.131V529.549H641.642V387.154Z" fill="white" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.642 387.154H472.131V529.549H641.642V387.154Z" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.644 387.154H585.316V529.549H641.644V387.154Z" fill="#FABC86"/>
<path opacity="0.39" d="M641.644 387.154H585.316V529.549H641.644V387.154Z" fill="white" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.644 387.154H585.316V529.549H641.644V387.154Z" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M614.062 387.537V529.725" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.644 244.615H472.133V387.01H641.644V244.615Z" fill="#FABC86"/>
<path opacity="0.6" d="M641.644 244.615H472.133V387.01H641.644V244.615Z" fill="white" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.644 244.615H472.133V387.01H641.644V244.615Z" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.644 244.615H585.316V387.01H641.644V244.615Z" fill="#FABC86"/>
<path opacity="0.39" d="M641.644 244.615H585.316V387.01H641.644V244.615Z" fill="white" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M641.644 244.615H585.316V387.01H641.644V244.615Z" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M614.062 244.999V387.186" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M626.751 126.711H486.531V244.502H626.751V126.711Z" fill="#FABC86"/>
<path opacity="0.6" d="M626.751 126.711H486.531V244.502H626.751V126.711Z" fill="white" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M626.751 126.711H486.531V244.502H626.751V126.711Z" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M626.749 126.711H580.164V244.502H626.749V126.711Z" fill="#FABC86"/>
<path opacity="0.39" d="M626.749 126.711H580.164V244.502H626.749V126.711Z" fill="white" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M626.749 126.711H580.164V244.502H626.749V126.711Z" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M603.938 127.031V244.646" stroke="#919191" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M608.818 476.021H586.854V489.763H608.818V476.021Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M402.128 529.725C409.461 529.725 415.406 523.78 415.406 516.447C415.406 509.113 409.461 503.169 402.128 503.169C394.794 503.169 388.85 509.113 388.85 516.447C388.85 523.78 394.794 529.725 402.128 529.725Z" fill="#263238" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M620.622 296.671H612.783V516.751H620.622V296.671Z" fill="#263238" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M616.447 373.652L597.906 358.902C590.02 352.618 584.104 344.201 580.863 334.652C577.621 325.103 577.19 314.824 579.621 305.038C580.335 302.181 581.982 299.644 584.299 297.828C586.617 296.011 589.474 295.019 592.419 295.007H640.412C643.358 295.013 646.218 296.004 648.536 297.821C650.855 299.638 652.5 302.179 653.21 305.038C655.644 314.823 655.217 325.101 651.978 334.65C648.739 344.199 642.826 352.617 634.941 358.902L616.447 373.652ZM592.451 302.51C591.169 302.506 589.923 302.932 588.913 303.722C587.904 304.511 587.189 305.617 586.884 306.862C584.793 315.249 585.158 324.06 587.935 332.246C590.712 340.432 595.783 347.647 602.545 353.031L616.415 364.069L630.301 353.031C637.066 347.648 642.141 340.434 644.924 332.249C647.706 324.064 648.078 315.252 645.995 306.862C645.687 305.618 644.972 304.514 643.962 303.725C642.953 302.936 641.709 302.509 640.428 302.51H592.451Z" fill="#263238"/>
<path d="M570.422 482.9H327.689V511.152H570.422V482.9Z" fill="white"/>
<path opacity="0.28" d="M570.422 482.9H327.689V511.152H570.422V482.9Z" fill="black" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M570.422 482.9H327.689V511.152H570.422V482.9Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M354.886 482.9H327.689V511.152H354.886V482.9Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M570.405 482.9H543.209V511.152H570.405V482.9Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M462.645 482.9H435.449V511.152H462.645V482.9Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M570.422 511.152H587.155L608.08 431.628H591.347L570.422 511.152Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M627.693 465.111H605.729V500.69H627.693V465.111Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M611.329 529.726C610.083 529.705 608.895 529.201 608.014 528.321C607.134 527.44 606.63 526.252 606.609 525.006V507.297C606.63 506.052 607.134 504.863 608.014 503.983C608.895 503.102 610.083 502.598 611.329 502.578C612.574 502.598 613.762 503.102 614.643 503.983C615.524 504.863 616.027 506.052 616.048 507.297V525.054C616.015 526.291 615.506 527.468 614.627 528.338C613.747 529.208 612.566 529.706 611.329 529.726Z" fill="#263238"/>
<path d="M622.544 529.726C621.298 529.705 620.11 529.201 619.229 528.321C618.349 527.44 617.845 526.252 617.824 525.006V507.297C617.845 506.052 618.349 504.863 619.229 503.983C620.11 503.102 621.298 502.598 622.544 502.578C623.803 502.577 625.011 503.072 625.909 503.955C626.807 504.838 627.322 506.038 627.343 507.297V525.054C627.309 526.305 626.789 527.493 625.893 528.366C624.996 529.238 623.794 529.726 622.544 529.726Z" fill="#263238"/>
<path d="M1 529.725H663" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M229.397 575.942C293.223 575.942 344.965 569.654 344.965 561.896C344.965 554.139 293.223 547.85 229.397 547.85C165.571 547.85 113.83 554.139 113.83 561.896C113.83 569.654 165.571 575.942 229.397 575.942Z" fill="#F68F36"/>
<path opacity="0.5" d="M229.397 575.942C293.223 575.942 344.965 569.654 344.965 561.896C344.965 554.139 293.223 547.85 229.397 547.85C165.571 547.85 113.83 554.139 113.83 561.896C113.83 569.654 165.571 575.942 229.397 575.942Z" fill="white"/>
<path d="M468.547 561.849C468.547 565.721 442.742 568.856 410.955 568.856C379.168 568.856 353.363 565.657 353.363 561.849C353.363 558.042 379.152 554.858 410.955 554.858C442.758 554.858 468.547 558.042 468.547 561.849Z" fill="#F68F36"/>
<path opacity="0.5" d="M468.547 561.849C468.547 565.721 442.742 568.856 410.955 568.856C379.168 568.856 353.363 565.657 353.363 561.849C353.363 558.042 379.152 554.858 410.955 554.858C442.758 554.858 468.547 558.042 468.547 561.849Z" fill="white"/>
<path d="M252.45 99.1795C252.45 99.1795 243.507 92.1565 233.252 95.66C222.998 99.1635 215.223 116.249 212.455 130.135C209.688 144.021 199.049 154.547 201.609 170.833C204.169 187.119 222.678 189.662 245.027 192.062C267.375 194.462 279.502 191.742 290.028 177.056C300.555 162.37 296.091 144.501 289.868 128.695C283.645 112.889 273.279 98.2196 264.656 95.5C256.033 92.7804 252.45 99.1795 252.45 99.1795Z" fill="#263238" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M215.496 182.704C217.005 183.382 218.574 183.918 220.183 184.304" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M250.21 110.554C246.565 118.697 241.945 126.368 236.452 133.398C227.301 145.157 207.064 156.259 205.768 168.593C205.56 170.245 205.705 171.921 206.193 173.513C206.681 175.104 207.501 176.573 208.6 177.824" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M287.34 169.537C286.679 171.086 285.83 172.547 284.812 173.889" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M279.645 138.63C279.645 138.63 289.931 150.5 288.939 163.171" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M248.258 104.011C244.249 103.603 240.2 104.161 236.451 105.639C232.702 107.117 229.362 109.472 226.709 112.506C226.341 112.922 226.006 113.338 225.686 113.754" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M189.243 405.551L187.243 436.331C187.243 436.331 178.733 477.621 176.045 494.642C173.357 511.664 168.43 537.548 167.534 537.548C166.638 537.548 151.953 546.427 147.249 553.674C142.546 560.921 148.513 563.992 155.04 561.673C161.567 559.353 170.43 552.794 173.325 545.003C176.221 537.212 177.661 534.317 177.853 533.053C178.045 531.789 209 448.681 212.072 439.802C215.143 430.924 221.67 404.847 221.67 404.847L236.884 353.239C236.884 353.239 253.17 406.303 253.362 408.655C253.554 411.007 270.191 546.635 270.959 551.706C271.727 556.777 271.503 560.393 274.575 561.481C277.646 562.569 284.893 562.569 288.701 562.569C292.508 562.569 305.722 564.568 312.233 562.937C318.744 561.305 319.48 560.217 314.953 556.953C310.426 553.69 285.277 551.61 282.958 542.108C282.766 541.388 282.59 401.776 282.59 401.776C282.59 401.776 280.414 355.607 276.798 342.584H193.131L189.243 405.551Z" fill="#FFDDBE" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M155.023 561.641C161.534 559.273 170.413 552.762 173.309 544.971L173.917 543.371C170.221 547.307 164.318 552.778 164.318 552.778C163.956 550.922 163.149 549.182 161.966 547.707C161.45 547.137 160.789 546.719 160.054 546.496C159.318 546.274 158.536 546.255 157.791 546.443L164.19 539.404C159.391 542.379 150.752 548.458 147.36 553.69C142.513 560.905 148.464 563.992 155.023 561.641Z" fill="#263238" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M314.842 556.921C311.738 554.698 298.988 553.018 290.478 549.13C290.126 549.429 289.852 549.808 289.678 550.234C289.138 551.768 288.715 553.34 288.414 554.938L270.816 551.178V551.674C271.536 556.745 271.36 560.361 274.432 561.449C277.503 562.536 284.75 562.536 288.558 562.536C292.365 562.536 305.579 564.536 312.09 562.904C318.601 561.273 319.433 560.249 314.842 556.921Z" fill="#263238" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M213.625 267.491C213.625 267.491 205.322 271.314 195.276 289.36C184.285 309.053 186.173 319.995 186.013 343.752C185.853 367.508 185.373 406.943 185.373 406.943C185.373 406.943 215.769 415.086 237.573 413.806C259.378 412.526 287.038 407.583 287.038 407.583C287.038 407.583 281.135 327.146 275.552 304.014C269.969 280.881 266.609 270.419 266.609 270.419C255.818 271.916 244.884 272.077 234.054 270.898C215.545 269.091 213.625 267.491 213.625 267.491Z" fill="#042E52" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M248.596 338.633C249.428 341.369 250.195 344.136 250.867 346.904" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M229.318 293.359C235.763 305.251 241.293 317.615 245.86 330.346" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M417.417 252.197C416.458 251.557 400.732 249.094 400.732 249.094L397.66 247.83C397.66 247.83 416.698 249.35 416.858 248.55C417.018 247.75 417.657 246.79 416.378 246.63C415.098 246.47 390.605 241.495 390.605 241.495C390.605 241.495 396.828 235.608 397.628 234.328C398.428 233.048 399.532 230.488 398.252 230.488C396.972 230.488 396.652 231.288 394.909 232.408C393.165 233.528 386.286 236.247 384.366 237.831C382.447 239.415 376.719 243.574 376.719 243.574L310.201 234.424C310.201 234.424 286.844 205.628 281.773 199.485C278.248 195.385 274.235 191.732 269.823 188.606C264.928 186.447 265.024 190.062 265.024 190.062L275.246 235.496C275.246 235.496 301.69 251.253 303.322 251.253C304.954 251.253 376.399 253.621 376.399 253.621C376.399 253.621 381.199 255.861 384.206 257.764C387.214 259.668 406.395 265.763 406.395 265.763C406.395 265.763 407.675 265.123 406.235 264.003C404.795 262.884 395.549 258.42 395.549 258.42L414.746 262.58C414.746 262.58 415.866 261.78 415.386 260.98C414.906 260.18 397.788 253.637 397.788 253.637L416.986 254.597C416.986 254.597 418.361 252.837 417.417 252.197Z" fill="#FFDDBE" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M306.186 229.48C299.291 220.986 285.517 204.028 281.773 199.485C278.248 195.385 274.235 191.732 269.823 188.606C264.928 186.447 265.024 190.062 265.024 190.062L275.246 235.496C275.246 235.496 287.18 242.599 295.499 247.27L306.186 229.48Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M235.492 184.719C235.492 184.719 221.606 185.359 213.095 194.782C204.585 204.204 205.592 224.937 209.112 237.384C212.631 249.83 217.111 256.693 216.135 261.012C215.159 265.331 211.671 266.755 213.575 270.739C215.479 274.722 226.501 279.041 245.971 278.402C265.44 277.762 269.119 273.602 269.279 269.955C269.439 266.307 267.999 263.252 268.479 261.012C268.959 258.772 283.005 246.326 283.005 232.6C283.005 218.874 276.942 214.091 275.502 204.188C274.062 194.286 274.542 192.862 268.639 188.543C262.736 184.223 243.315 182 235.492 184.719Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M229.189 232.296C224.548 236.18 219.397 239.41 213.879 241.895" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M230.728 233.896C230.728 233.896 227.288 244.999 218.857 251.126" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M265.184 194.765L266.783 210.091L260.064 202.268L265.184 194.765Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M256.242 211.371L265.185 194.766L257.042 185.999L256.242 211.371Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M239.014 157.587C240.408 163.12 241.101 168.807 241.077 174.513C241.031 178.207 240.656 181.891 239.958 185.519L256.243 211.371L260.866 187.375L263.906 170.769C263.906 170.769 245.397 169.713 239.014 157.587Z" fill="#FFDDBE" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M255.28 197.485L256.24 211.371L251.457 203.868L255.28 197.485Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M234.531 184.879L249.377 211.531L255.28 197.485L239.491 175.776L234.531 184.879Z" fill="white" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M494.625 197.309H359.908V307.853H494.625V197.309Z" fill="#F8A65E"/>
<path opacity="0.2" d="M494.625 197.309H359.908V307.853H494.625V197.309Z" fill="#FBD2AF"/>
<path d="M494.625 197.309H359.908V307.853H494.625V197.309Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M466.099 197.309H331.383V307.853H466.099V197.309Z" fill="#FBD2AF" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M516.812 345.064C512.493 338.217 494.623 307.853 494.623 307.853H466.115L480.785 345.064H516.812Z" fill="#7ADCFE"/>
<path opacity="0.2" d="M516.812 345.064C512.493 338.217 494.623 307.853 494.623 307.853H466.115L480.785 345.064H516.812Z" fill="black"/>
<path d="M516.812 345.064C512.493 338.217 494.623 307.853 494.623 307.853H466.115L480.785 345.064H516.812Z" fill="#FBD2AF" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M309.113 345.064C313.433 338.217 331.286 307.853 331.286 307.853H359.81L345.14 345.064H309.113Z" fill="#FBD2AF" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M331.287 307.853L318.889 345.064H459.588L466.115 307.853H331.287Z" fill="#FBD2AF" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M511.965 237.303V274.322" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M518.971 253.317V283.329" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M316.904 274.322V297.327" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M310.904 287.328V305.326" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M212.342 224.457C217.116 229.864 222.657 234.543 228.787 238.343C238.386 244.086 273.581 264.035 276.349 265.155C279.116 266.275 363.168 252.549 363.168 252.549C363.168 252.549 367.967 254.789 370.991 256.693C374.014 258.596 393.18 264.691 393.18 264.691C393.18 264.691 394.459 264.051 393.02 262.948C391.58 261.844 382.333 257.348 382.333 257.348L401.53 261.508C401.53 261.508 402.65 260.708 402.17 259.908C401.69 259.108 384.573 252.565 384.573 252.565L403.77 253.525C403.77 253.525 405.21 251.765 404.25 251.125C403.29 250.485 383.629 246.006 383.629 246.006C383.629 246.006 404.538 244.246 404.698 243.446C404.858 242.647 405.498 241.703 404.218 241.543C402.938 241.383 376.766 238.823 376.766 238.823C376.766 238.823 383.629 234.52 384.429 233.24C385.229 231.96 386.349 229.401 385.069 229.401C383.789 229.401 383.469 230.2 381.725 231.32C379.981 232.44 373.102 235.16 371.183 236.743C369.263 238.327 363.52 242.503 363.52 242.503L286.603 242.663L238.85 204.988" fill="white"/>
<path d="M212.342 224.457C217.116 229.864 222.657 234.543 228.787 238.343C238.386 244.086 273.581 264.035 276.349 265.155C279.116 266.275 363.168 252.549 363.168 252.549C363.168 252.549 367.967 254.789 370.991 256.693C374.014 258.596 393.18 264.691 393.18 264.691C393.18 264.691 394.459 264.051 393.02 262.948C391.58 261.844 382.333 257.348 382.333 257.348L401.53 261.508C401.53 261.508 402.65 260.708 402.17 259.908C401.69 259.108 384.573 252.565 384.573 252.565L403.77 253.525C403.77 253.525 405.21 251.765 404.25 251.125C403.29 250.485 383.629 246.006 383.629 246.006C383.629 246.006 404.538 244.246 404.698 243.446C404.858 242.647 405.498 241.703 404.218 241.543C402.938 241.383 376.766 238.823 376.766 238.823C376.766 238.823 383.629 234.52 384.429 233.24C385.229 231.96 386.349 229.401 385.069 229.401C383.789 229.401 383.469 230.2 381.725 231.32C379.981 232.44 373.102 235.16 371.183 236.743C369.263 238.327 363.52 242.503 363.52 242.503L286.603 242.663L238.85 204.988" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M404.186 241.543C402.923 241.383 376.734 238.823 376.734 238.823C376.734 238.823 383.597 234.52 384.397 233.24C385.197 231.96 386.317 229.401 385.037 229.401C383.757 229.401 383.437 230.201 381.694 231.32C379.95 232.44 373.071 235.16 371.151 236.744C369.231 238.327 363.488 242.503 363.488 242.503L286.571 242.663L278.045 235.896C274.845 241.511 268.862 252.037 264.975 258.98C270.958 262.308 275.485 264.787 276.397 265.155C279.117 266.275 363.216 252.549 363.216 252.549C363.216 252.549 368.016 254.789 371.039 256.693C374.063 258.596 393.228 264.692 393.228 264.692C393.228 264.692 394.508 264.052 393.068 262.948C391.628 261.844 382.382 257.349 382.382 257.349L401.579 261.508C401.579 261.508 402.699 260.708 402.219 259.908C401.739 259.108 384.621 252.565 384.621 252.565L403.818 253.525C403.818 253.525 405.258 251.765 404.298 251.125C403.339 250.486 383.629 246.006 383.629 246.006C383.629 246.006 404.538 244.246 404.698 243.447C404.858 242.647 405.466 241.703 404.186 241.543Z" fill="#FFDDBE" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M275.392 144.181C275.665 143.85 276.025 143.602 276.432 143.466C276.838 143.33 277.275 143.311 277.692 143.411C278.109 143.511 278.49 143.726 278.79 144.032C279.091 144.338 279.299 144.722 279.392 145.141C279.659 146.876 279.57 148.648 279.13 150.348C278.69 152.047 277.908 153.64 276.832 155.027C275.072 156.787 273.473 157.267 273.473 155.027C273.917 151.38 274.558 147.759 275.392 144.181Z" fill="#FFDDBE" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M255.745 116.217C255.184 124.003 251.852 131.33 246.354 136.87C241.232 141.907 235.439 146.214 229.141 149.668C229.141 149.668 230.069 154.676 231.956 156.243C233.844 157.811 237.587 157.507 237.587 157.507C239.764 163.458 243.303 168.816 247.922 173.153C255.425 180.032 264.192 179.408 269.199 169.09C274.206 158.771 276.718 148.421 276.094 142.469L275.47 136.518C275.47 136.518 259.184 127.48 255.745 116.217Z" fill="#FFDDBE" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M254.801 147.157C255.596 147.157 256.241 146.011 256.241 144.597C256.241 143.184 255.596 142.038 254.801 142.038C254.006 142.038 253.361 143.184 253.361 144.597C253.361 146.011 254.006 147.157 254.801 147.157Z" fill="#263238"/>
<path d="M262.625 167.585C263.421 167.585 264.065 166.439 264.065 165.026C264.065 163.612 263.421 162.466 262.625 162.466C261.83 162.466 261.186 163.612 261.186 165.026C261.186 166.439 261.83 167.585 262.625 167.585Z" fill="#263238"/>
<path d="M268.686 147.157C269.481 147.157 270.126 146.011 270.126 144.597C270.126 143.184 269.481 142.038 268.686 142.038C267.891 142.038 267.246 143.184 267.246 144.597C267.246 146.011 267.891 147.157 268.686 147.157Z" fill="#263238"/>
<path d="M265.808 141.877C265.259 143.794 265.095 145.8 265.328 147.78C265.808 150.5 268.048 155.123 266.128 155.923C265.252 156.323 264.283 156.474 263.327 156.362C262.371 156.249 261.464 155.876 260.705 155.283" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M250.641 139.974C250.641 139.974 251.409 135.079 257.824 135.639" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M267.822 137.142C267.822 137.142 273.805 132.343 275.741 141.126" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </div>
    <div class="empty-cnt">
      <p class="pc">Your cart is empty :(</p>
      <a class="shop-btn under-btn" href="/collections/all">FIND SOME GOOD THINGS</a>
    </div>
  </div>
  </div>
  </div>
{% endif %}
<script>
  $(document).ready(function(){
    $('input[class="qty"]').change(function(){
      $(this).parents('li').find('input[name="update"]').trigger('click');
    });
    $('.qty-button').one('click',function(){
      setTimeout(() => {$(this).parents('li').find('input[name="update"]').trigger('click');},500);
    });
  });
</script>

