{% comment %}
Refined tags
{% endcomment %}
{% if current_tags == blank %}
{% assign has_refined = false %}
{% else %}
{% assign has_refined = true %}
{% endif %}
{% for t in current_tags %}
    {% assign tag = t | strip %}
{% endfor %}
<div class="refined-widgets">
  <p class="filter-nav-tlt">Filter</p>
  {%comment%}<a href="javascript:void(0)" class="clear-all float-left" {% if has_refined == false %}style="display:none"{% endif %} {% if settings.enable_multilang %}data-translate="collections.sidebar.clear_all"{% endif %}>
    {{ 'collections.sidebar.clear_all' | t }}
  </a>{%endcomment%}
</div>

{%comment%}Filter mobile{%endcomment%}
<div class="filter-parent mobile-show" id="sort">
  <div class="wrap-filter-top mobile-show">
    <div class="nav-filter"><a class="cancel" href="#">Cancel</a>
      <div class="nav-title wrap-select-box">
        <h3>Sort</h3>
      </div>
      <button class="cancel">Apply</button>
    </div>
  </div>
  <div class="wrap-sort">
    <h3 class="filter-head-title"><span>Sort by:</span></h3>
  </div>
   <div class="wrap-sort-content">
    <label class="inputradio">
      <input type="radio" name="radio" value="best-selling"><span class="text">Top selling</span><span class="checkmark"></span>
    </label>
    <label class="inputradio">
      <input type="radio" name="radio" value="created-descending"><span class="text">Newest</span><span class="checkmark"></span>
    </label>
    <label class="inputradio">
      <input type="radio" name="radio" value="price-ascending"><span class="text">Price:</span><span class="text ml-1">Lowest First</span><span class="checkmark"></span>
    </label>
    <label class="inputradio">
      <input type="radio" name="radio" value="price-descending"><span class="text" >Price:</span><span class="text ml-1">Highest First</span><span class="checkmark"></span>
    </label>
  </div>
</div>

<div class="filter-parent" id="filter">
  <div class="wrap-filter-top mobile-show">
    <div class="nav-filter"><p class="filter-nav-tlt mb-0">Filter</p>
      <label class="cancel menu-icon close-menu active"><span></span></label>
      <!--button class="cancel">Apply</button!-->
    </div>
  </div>
  
  {%comment%}
  {%comment%}Product Style{%endcomment%}
  
  {% if settings.enable_shop_by_tags_3 %}
  <div class="wrap-filter">
        <p class="filter-tlt">{{settings.shop_by_tags_3_title}}</p>
    <div class="filter-content">
      {% assign tags_filter = settings.shop_by_tags_3_list_tags | split: ',' %}
      {% for tag in tags_filter %}
        <label class="inputcheckbox">
          <input type="checkbox" value="{{tag }}">
          <span class="text">{{tag}}</span>
          <span class="checkmark"></span>
        </label>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {%comment%}Popuplar Quotes{%endcomment%}
  
  {% if settings.enable_shop_by_tags_4 %}
  <div class="wrap-filter">
    <p class="filter-tlt">{{settings.shop_by_tags_4_title}}</p>
    <div class="filter-content">
      {% assign tags_filter = settings.shop_by_tags_4_list_tags | split: ',' %}
      {% for tag in tags_filter %}
        <label class="inputcheckbox">
          <input type="checkbox" value="{{tag}}">
          <span class="text">{{tag}}</span>
          <span class="checkmark"></span>
        </label>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if settings.enable_shop_by_tags_5 %}
  <div class="wrap-filter">
    <p class="filter-tlt">{{settings.shop_by_tags_5_title}}</p>
    <div class="filter-content">
      {% assign tags_filter = settings.shop_by_tags_5_list_tags | split: ',' %}
      {% for tag in tags_filter %}
        <label class="inputcheckbox">
          <input type="checkbox" value="{{tag}}">
          <span class="text">{{tag}}</span>
          <span class="checkmark"></span>
        </label>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {%endcomment%}
  
  {% assign collection_colors = "" %}
  {% assign collection_types = "" %}
  
  {% assign collection_colors_index = 2 %}
  {% assign collection_types_index = 0 %}
  
  
  {% for product in collection.all_products %}
  	{% for option in product.options %}
        {% if option == "Style" %}
          {% assign collection_types_index = forloop.index0 %}
  		{% endif %}
  		{% if option == "Color" %}
          {% assign collection_colors_index = forloop.index0 %}
  		{% endif %}
  	{% endfor %}
        
     {% for variant in product.variants %}
          {% unless collection_colors contains variant.options[collection_colors_index] %}
              {% assign collection_colors = collection_colors | join: ',' %}
              {% assign collection_colors = collection_colors | append: ',' | append: variant.options[collection_colors_index] %}
              {% assign collection_colors = collection_colors | split: ',' %}          
          {% endunless %}
          {% unless collection_types contains variant.options[collection_types_index] %} 
            {% assign collection_types = collection_types | join: ',' %}
            {% assign collection_types = collection_types | append: ',' | append: variant.options[collection_types_index] %}
            {% assign collection_types = collection_types | split: ',' %}

          {% endunless %}
     {% endfor %}
  {% endfor %}
  
   
  <div class="wrap-filter">
    <p class="filter-tlt">Categories</p>
    <div class="filter-content">
      {% assign collection_types = settings.shop_by_tags_2_list_tags | split: ',' %}
      {% for ptype in collection_types %}
      {% if ptype != blank %}    
      <label class="inputcheckbox">
          <input type="checkbox" value="{{ptype}}"><span class="text">{{ptype}}</span><span class="checkmark"></span>
      </label>
      {% endif %}
      {% endfor %}
    </div>
  </div>  
   
  <div class="wrap-filter">
    <p class="filter-tlt">Colors</p>
    <div class="filter-content">
      <ul class="filter-color">
        {% for pcolor in collection_colors %}
          {% capture shop_by_color_text %}shop_by_color_text_{{ i }}{% endcapture %}
          {% capture color %}color-{{ i }}.png{% endcapture %}
          {% if pcolor != blank %}  
        <li>
            <label data-url="{{ pcolor | handleize }}">
              <input type="checkbox" class="coll-filter" value="{{ pcolor | handleize }}">
              <div class="color" style="background-color: {{ pcolor | split: ' ' | last | handle }}"></div><span class="text">{{pcolor}}</span><span class="checkmark"></span>
            </label></li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>
  </div>
  
  <div class="wrap-filter">
    <p class="filter-tlt">Product Tags</p>
    <div class="filter-content">
    <ul class="filter-tag">
        {% for pcolor in collection.all_tags %}
          {% if pcolor != blank %}
      <li><label><input type="checkbox" value="{{pcolor}}"><span class="text">{{ pcolor | handleize }}</span><span class="checkmark"></span>
      </label></li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
  </div>
  
</div>
