{% comment %}
Refined tags
{% endcomment %}
{% if current_tags == blank %}
{% assign has_refined = false %}
{% else %}
{% assign has_refined = true %}
{% endif %}
{% for t in current_tags %}
    {% assign tag = t | strip %}
{% endfor %}
<div class="refined-widgets">
  <p class="filter-nav-tlt">Filter</p>
  {%comment%}<a href="javascript:void(0)" class="clear-all float-left" {% if has_refined == false %}style="display:none"{% endif %} {% if settings.enable_multilang %}data-translate="collections.sidebar.clear_all"{% endif %}>
    {{ 'collections.sidebar.clear_all' | t }}
  </a>{%endcomment%}
</div>

{%comment%}Filter mobile{%endcomment%}

<div class="filter-parent" id="filter">
  <div class="wrap-filter-top mobile-show">
    <div class="nav-filter"><p class="filter-nav-tlt mb-0">Filter</p>
      <label class="cancel menu-icon close-menu active"><span></span></label>
      <!--button class="cancel">Apply</button!-->
    </div>
  </div>
  
  {% include 'filter-menu' %}
  <style>
    #more {display: none;}
    </style>
  <div class="wrap-filter">
    <p class="filter-tlt">Product Tags</p>
    <div class="filter-content">
    <ul class="filter-tag">
      {% assign counter = 0 %}
        {% for pcolor in collection.all_tags %}
        {%- assign counter = counter | plus: 1 -%}
          {% if pcolor != blank and counter < 20%}
      <li><label><input type="checkbox" value="{{pcolor}}"><span class="text">{{ pcolor | handleize }}</span><span class="checkmark"></span>
      </label></li>
          {% endif %}
          {%- if counter == 20 -%}
          <span id="dots">...</span>
          <div id="more"><li><label><input type="checkbox" value="{{pcolor}}"><span class="text">{{ pcolor | handleize }}</span><span class="checkmark"></span>
          </label></li>
          {%- endif -%}
          {%- if counter > 20 -%}
          <li><label><input type="checkbox" value="{{pcolor}}"><span class="text">{{ pcolor | handleize }}</span><span class="checkmark"></span>
          </label></li>
          {%- endif -%}
          {%- if pcolor == collection.all_tags.last -%}
        </div>
          {%- endif -%}
        {% endfor %}
    </ul>
    <a class="read-more-btn"  href="javascript:void(0)" onclick="myFunction()" id="myBtn">Read more</a>
  </div>
  </div>
  
</div>

<script>
  function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less"; 
      moreText.style.display = "contents";
    }
  }
  </script>
