<div class="trending container">
  <p class="idx-tlt">{{settings.recommended_section_title}}</p>
  <ul class="product-list">
    {% for product in collections[settings.recommended_collection].products | limit: settings.recommended_products_number %}
    <li><a href="{{ product.url }}">
      {%- if settings.sale_symbal -%}
        <span class="sale" style="background:url('{{ settings.sale_symbal | img_url: 'master' }}') center / contain no-repeat;">{{settings.sale_title}}<span>{{settings.sale_content}}</span></span>
      {%- endif -%}
      <p class="product-img"><img src="{{ product.images.last | img_url:'large' }}" alt="{{ product.title }}"></p>
      <p class="product-tlt">{{ product.title | truncate: 50}}</p>
      <p class="product-price">{{ product.price | money_without_trailing_zeros }}<span>{{ product.compare_at_price_max | money_without_trailing_zeros}}</span></p>
      </a></li>
    {% endfor %}
  </ul>
  <a class="more-btn" href="{{collections[settings.recommended_collection].url}}">SEE MORE</a>
</div>