<div class="loading-modal modal" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.loading"{% endif %}>{{ 'cart.ajax_cart.loading' | t }}...</div>
<div class="ajax-error-modal modal">
  <div class="modal-inner">
    <div class="ajax-error-title" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.error"{% endif %}>{{ 'cart.ajax_cart.error' | t }}</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-modal modal twippy-modal">
  <div>
    <div class="overlay"></div>
  <p class="twippy-cart-added">Cart added !</p>
  <div class="content">
      <div class="ajax-left">
        <p class="ajax-product-image"><img alt="&nbsp;" src=""/></p>
        <p class="ajax-product-title"></p>
        <p class="ajax-product-type"></p>
        <p class="ajax-product-detail"><span>Color: <span class="ajax-product-color"></span></span><span>Size: <span class="ajax-product-size"></span></span></p>
      </div>
      <div class="ajax-right">
        <p class="ajax-freeship"><span>Free shipping</span>for any US orders above $75.00</p>
        <p class="ajax-qty"><span>QTY:</span><span></span></p>
        <p class="ajax-subtotal"><span>Subtotal:</span><span></span></p>
        <p class="ajax-tax">Shipping and Tax are Calculated at Checkout</p>
        <button class="btn-go-to-cart" onclick="window.location='/cart'" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.go_to_cart"{% endif %}>Checkout<!--{{ 'cart.ajax_cart.go_to_cart' | t }} --></button>
        <p class="ajax-or">OR</p>
        <p class="success-message btn-go-to-wishlist" {% if settings.enable_multilang %}data-translate="wishlist.ajax_wishlist.success_text"{% endif %}>{{ 'wishlist.ajax_wishlist.success_text' | t }}</p>        
        <div class="actions">
          <button class="continue-shopping" onclick="javascript:void(0)" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{% endif %}>{{ 'cart.ajax_cart.continue_shopping' | t }}</button>
          <button class="btn-go-to-wishlist" onclick="window.location='/pages/wish-list'" {% if settings.enable_multilang %}data-translate="wishlist.ajax_wishlist.go_to_wishlist"{% endif %}>{{ 'wishlist.ajax_wishlist.go_to_wishlist' | t }}</button>
        </div>
      </div>
    <a href="javascript:void(0)" class="close-modal" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.close"{% endif %}>{{ 'cart.ajax_cart.close' | t }}</a>
  </div>    
</div>
  </div>